* {
  font-family: "Montserrat";
  background: #ffffff;
  margin: 0px;
}

.page-header-navigation {
  width: 1280px;
}

.page-header-menu {
  text-align: center;
}

.page-header-menu-link {
  color: #ff0000;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}

.page-header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

.main-block {
  width: 1280px;
  height: 500px;
}

.page-image {
  width: 1280px;
  height: 789px;
  top: 78px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin: 48px;
}

.page-text-up {
  font-weight: 400;
  font-size: 16px;
  color: #373737;
  text-align: center;
  margin-top: 38px;
  width: 1145px;
  margin-left: 67.5px;
}

.page-text-down {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #373737;
  width: 1145px;
  margin-top: 28px;
  margin-left: 67.5px;
}

.btn {
  background: #ff0000;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  color: #ffffff;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  margin-top: 66px;
  margin-left: 544.5px;
  border: none;
  cursor: pointer;
}

.page-footer {
  font-weight: 700;
  font-size: 16px;
  color: #373737;
  text-align: right;
  margin-bottom: 29px;
}
